@font-face {font-family: Musicnet; src: url('../fonts/MUSICNET.ttf'); }
@font-face { font-family: PixelLCD; src: url('../fonts/Pixel LCD-7.ttf'); } 
@font-face { font-family: LEDCalc; src: url('../fonts/LEDCalculator.ttf'); } 
@font-face { font-family: EHSMyBad; src: url('../fonts/EHSMB.TTF'); } 
@font-face { font-family: advamcedLed; src: url('../fonts/advanced_led_board-7.ttf'); } 
@font-face { font-family: arcade; src: url('../fonts/arcade-7.TTF'); } 
@font-face { font-family: ledDisplay; src: url('../fonts/led_display-7.ttf'); } 
@font-face { font-family: ledBoard; src: url('../fonts/DJB Get Digital.ttf'); } 
html { 
    height: 100%;     
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
/*    font-family: 'Arimo', sans-serif;*/
/*    font-family: 'PT Sans Caption', sans-serif;*/
/*    font-family: 'Questrial', sans-serif;*/
}
body {
    height:100%;
    min-height: 100%;
    background: #000000;
    color: #FFFFFF;
    position:relative;
}
#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: #CCCCCC;
    position:fixed;
/*    text-align: center;*/
}
#footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: #CCCCCC;
    position:fixed;
}
#content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
}
#content > div {
    margin-top: 98px;
}
#YTPlayer{
    position: absolute;
    left: 500px;
    top: -98px;
    height: calc(100% - 466px);
    width: calc(100% - 500px);
}
#YTplaylist{
    overflow-y: scroll;
    width: 500px;
    height: calc(100% - 148px);
}
#YTplaylist ul{
    list-style: none;
    -webkit-padding-start: 10px;
}
#YTplaylist ul li:hover{
    background: rgba(255, 255, 255, 0.3);
}
.modal {
    text-align: left;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(23, 119, 1, 0.75);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: calc(50% - 258px);
}

.modal-content2 {
    position: relative;
    background-color: rgba(1, 97, 119, 0.75);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: calc(50% - 258px);
}

.modal-content2 div table th{
    text-align: center;
}

.modal-content3 {
    position: relative;
    background-color: rgba(119, 1, 1, 0.75);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: calc(50% - 258px);
}

.modal-content3 div table th{
    text-align: center;
}
.modal-content3 div table tr:hover{
    background-color: rgba(255, 188, 0, 0.5);
}
.modal-content3 div table tr td:first-child{
    cursor: pointer;
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:0; opacity:0}
    to {top:-300; opacity:1}
}

@keyframes animatetop {
    from {opacity:0; top:0}
    to {opacity:1; top: calc(50% - 258px)}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#popupContent input, #popupContent div{
    display: inline-block;
}
#popupContent{
    padding: 10px;
}
h3{
    margin: 0;
}
#ytLink{
    width:60%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
a {
    color: #22ffdd;
    cursor: pointer;
}
#commentContent{
    max-height: 289px;
    min-height: 289px;
    overflow-y: auto;
}
#commentContent ul{
    -webkit-padding-start: 10px;
    list-style: none;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0em;
}
#commentContent ul li div{
    display: inline-block;
}

.rate-now {
     list-style-type:none;
/*     margin:25px 0 0 0;*/
     padding:0;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

.rate-now ul {
     list-style-type:none;
/*     margin:25px 0 0 0;*/
     padding:0;
}

.rate-now li {
     float:left;
     margin:0 5px 0 0;
    width:40px;
    height:40px;
    position:relative;
    text-align: center;
}

.rate-now li .radiolabel{
    width: 100%;
    height: 100%;
}

.rate-now li span {
    position: relative;
    top: 4px;
    font-size: 25px;
    color: #ff006c;
}

.rate-now label, .rate-now input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.rate-now input[type="radio"] {
    opacity:0.011;
    z-index:2;
    width: 100%;
    height: 100%;
    margin: 0;
}

.rate-now input[type="radio"]:checked + label {
}

.rate-now label {
/*     padding:5px;*/
     border:1px solid #CCC;
    z-index:1;
/*    background-image: url("../img/mush50.png");*/
    width: 100%;
    height: 100%;
}
#averageRating{
    font-size: 30px;
}

#userRate{
    text-align: center;
    font-size: 30px;
}

#nowPlaying{
    
    display: inline-block;
    width: 100%;
    text-align: center;

}
#nowPlaying marquee{
    color: rgb(33, 33, 33);
    background-color: #00d400;

    background-image: url(../img/squared_metal_75.png);
    width: 450px;
    box-shadow: inset 0px 0px 10px #000000;
}

#nowPlaying marquee span{
    font-size: 36px;
    font-family: "PixelLCD";
}
#thumbsUp{
    display: inline-block; 
    width: 50%; 
    word-wrap: break-word; 
/*    position: absolute;*/
    padding-top: 1px;
}
#thumbsUp span{
    font-size: 20px;
    display: block;
}

#thumbsUpAdd{
    top: 15px;
    position: absolute;
    left: 45px;
}


.rate-now #r1{
    background-color: #BF0000;
}
.rate-now #r2{
    background-color: #C32800;
}
.rate-now #r3{
    background-color: #C75300;
}
.rate-now #r4{
    background-color: #CB7F00;
}
.rate-now #r5{
    background-color: #CFAD00;
}
.rate-now #r6{
    background-color: #CBD400;
}
.rate-now #r7{
    background-color: #A2D800;
}
.rate-now #r8{
    background-color: #77DC00;
}
.rate-now #r9{
    background-color: #4BE000;
}
.rate-now #r10{
    background-color: #1DE500;
}

.rateNormal{
    background-image: url("../img/mush50.png");
}

.rateSelected{
    background-image : url("../img/mushy.gif");
}

.rateHover{
    background-image : url("../img/mushsel.png");
}
.currentSong{
    background-color: darkcyan;
}
tr:nth-child(even) {background-color: rgba(242, 242, 242, 0.2)}
.no-events{
    pointer-events: none;
}

#weeklyRandomNumber{
    cursor: help;
}

#weeklyRandomNumber u{
    border-bottom: 1px dotted #ffffff;
    text-decoration: none;
}

#weeklyRandomNumber:hover .tooltiptext, 
#navbar ul li div:hover .tooltipPlaylistBtn,
#navbar2 div:hover .tooltipNPBtn{
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: rgba(1, 160, 160, 1);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 46%;
    left: 12%;
    margin-left: -60px;
    border: solid black 1px;
}

.tooltipPlaylistBtn {
    width: 90px;
    visibility: hidden;
    background-color: #70287d;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    border: solid black 1px;
}

.tooltipNPBtn {
    width: 90px;
    visibility: hidden;
    background-color: #70287d;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    margin-left: 81px;
    border: solid black 1px;
}

#weeklyRandomNumber .tooltiptext::after {
    content: " ";
    position: absolute;
    top: -57%;
    left: 0%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.header-icons{
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #ffffff;
    margin-left: 30px;
    margin-top: 5px;
    background-color: #70287d;
}
.header-icons:hover{    
    box-shadow: inset 0px 0px 5px #000000;

}
#navbarTitle{
    text-align: center;
    font-size: 40px;
}

/*Spinner*/
.cssload-loader {
	position: absolute;
    top: 20%;
	left: calc(50% - 410px);
	width: 100px;
	height: 100px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 3000px;
}

.background{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.5);
    z-index: 10001;
}
.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container {
	margin: 194px auto;
	width: 550px;
	height: 116px;
    text-align: center;
}
.cssload-container > div {
/*	float: left;*/
/*    text-align: center;*/
/*	background: rgb(185,108,255);*/
	height: 100%;
	width: 50px;
/*	margin-right: 4px;*/
	display: inline-block;
}

.cssload-container .cssload-shaft1 > img {
	animation-delay: 0.14s;
		-o-animation-delay: 0.145s;
		-ms-animation-delay: 0.145s;
		-webkit-animation-delay: 0.145s;
		-moz-animation-delay: 0.145s;
}
.cssload-container .cssload-shaft2 > img {
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
}
.cssload-container .cssload-shaft3 > img {
	animation-delay: 0.335s;
		-o-animation-delay: 0.335s;
		-ms-animation-delay: 0.335s;
		-webkit-animation-delay: 0.335s;
		-moz-animation-delay: 0.335s;
}
.cssload-container .cssload-shaft4 > img {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
}
/*
.cssload-container .cssload-shaft5 > img {
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
}
.cssload-container .cssload-shaft6 > img {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-container .cssload-shaft7 > img {
	animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
}
.cssload-container .cssload-shaft8 > img {
	animation-delay: 0.46s;
		-o-animation-delay: 0.46s;
		-ms-animation-delay: 0.46s;
		-webkit-animation-delay: 0.46s;
		-moz-animation-delay: 0.46s;
}
.cssload-container .cssload-shaft9 > img {
	animation-delay: 0.52s;
		-o-animation-delay: 0.52s;
		-ms-animation-delay: 0.52s;
		-webkit-animation-delay: 0.52s;
		-moz-animation-delay: 0.52s;
}
.cssload-container .cssload-shaft10 > img {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
}
*/

.cssload-container > div > img {
	height: 50px;
/*    border-radius: 25px;*/
	animation: cssload-wave 1.15s infinite ease-in-out;
		-o-animation: cssload-wave 1.15s infinite ease-in-out;
		-ms-animation: cssload-wave 1.15s infinite ease-in-out;
		-webkit-animation: cssload-wave 1.15s infinite ease-in-out;
		-moz-animation: cssload-wave 1.15s infinite ease-in-out;
/*
	transform: translateY"("-39px")";
		-o-transform: translateY"("-39px")";
		-ms-transform: translateY"("-39px")";
		-webkit-transform: translateY"("-39px")";
		-moz-transform: translateY"("-39px")";
*/
}



@keyframes cssload-wave {
    100% {
        transform: scale(1);
/*        background-color: #0d00ad;*/
    }
	50% {
		transform: scale(0.25);
/*        background-color: #009d85;*/
	}
	0% {
		transform: scale(1);
/*        background-color: #0d00ad;*/
	}
}

@-o-keyframes cssload-wave {
	50% {
		background: rgb(86,215,198);
		-o-transform: translateY"("39px")";
	}
}

@-ms-keyframes cssload-wave {
	50% {
		background: rgb(86,215,198);
		-ms-transform: translateY"("39px")";
	}
}

@-webkit-keyframes cssload-wave {
	50% {
		background: rgb(86,215,198);
		-webkit-transform: translateY"("39px")";
	}
}

@-moz-keyframes cssload-wave {
	50% {
		background: rgb(86,215,198);
		-moz-transform: translateY"("39px")";
	}
}

#lowerContent{
    display: flex;
}
#lowerContent > div{
    flex: 1;
}
#lowerContent > div ul li{
    display: flex;
}
#lowerContent > div ul li > div{
    flex: 1;
}
#lowerContent > div ul{
    list-style: none;
}

#totalThumbsGot, #totalThumbsGiven{
    text-align: center;
}

#totalThumbsGotList, #totalThumbsGivenList{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#totalThumbsGotList{
    background-color: rgba(0, 136, 255, 0.29);
}

#totalThumbsGivenList{
    background-color: rgba(0, 255, 111, 0.29);
}

#totalThumbsGotList ul li:nth-child(odd), #totalThumbsGivenList ul li:nth-child(odd){
    background-color: rgba(242, 242, 242, 0.2);
}


.user-name{
/*    text-align: left;*/
}
.user-thumbs{
/*    text-align: right;*/
}

ul{
    -webkit-padding-start: 0;
}